.site-footer {
    background: #000000;
    line-height: 1.8rem;
    padding: 0.25rem;

    .site-info {
        color: #ffffff;
        text-align: center;

        a {
            color: #ffffff;
        }
    }
}