.widget {
    border: 0.063rem dotted #000000;
    border-bottom: 0.063rem solid #000000;
    margin-top: 1.125rem;
    padding: 1.125rem;

    &:first-child {
        margin-top: 0;
    }

    .widget-title {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 14px;
            margin-top: 0.5rem;
        }
    }
}