.site-header {
    background: #000000;
    padding: 0.5rem;

    .branding-navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .site-branding {
            display: flex;
            align-items: center;

            .site-title {
                font-size: 2rem;
                margin: 0;
                padding: 0;
            }

            .site-title a {
                color: #ffffff;
                text-decoration: none;
            }

            .sep {
                color: #ffffff;
                margin: 0 0.25rem 0 0.9rem;
                font-weight: bold;
            }

            .site-description {
                color: #ffffff;
                font-size: 14px;
                margin-left: 0.5rem; /* Adjust this as needed for spacing */
            }
        }
    }
}